<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  <%= t ".helpAt"%>
  <a href="https://www.railstutorial.org/help"><%= t ".helpSection"%></a>.
  <%= t ".helpApp"%>
  <a href="https://www.railstutorial.org/book"><%= t ".book"%></a>.
</p>
